{% block body %}

  <a class="col-lg-4 col-sm-6 project-card" href="projects/id={{ project.id }}">
    <div class="card">
      <div class="header">
        <img class="card-image" src="{{ asset('img/project-card-background.png') }}" alt="">

        <h4 class="card-title">{{ project.name }}</h4>

        {% if project.project_logo is defined %}
          <img class="card-icon" src="{{ asset('uploads/confirmed/' ~ project.project_logo) }}" alt="">
        {% else %}
          <img class="card-icon" src="{{ asset('icons/project-icon-default.png') }}" alt="">
        {% endif %}
      </div>

      <div class="card-body">
        <p class="card-text">{{ project.objective }}</p>
        <div class="card-btn-text">VIEW PROJECT</div>
      </div>
    </div>
  </a>

{% endblock %}