{% extends 'base.html.twig' %}

{% block body %}
  <!-- Custom styles for this template -->
  <link href="{{ asset('css/projects/card.css') }}" rel="stylesheet"/>

  <!-- Card Content -->
  <div class="col-lg-4 col-sm-6 project-card-container">
    <a class="card h-100 project-card" href="projects/sample">
      <div class="project-card-top">
        <img class="card-img-top project-card-image" src="{{ asset('img/project-card-background.png') }}" alt="">
        <img class="card-img-top project-icon" src="{{ asset('icons/project-icon-default.jpg') }}" alt="">
        <h4 class="card-title">{{ project.name }}</h4>
      </div>
      <div class="card-body">
        <p class="card-text">{{ project.objective }}</p>
        <div class="card-btn-text">VIEW PROJECT</div>
      </div>
    </a>
  </div>

{% endblock %}