{% extends 'base.html.twig' %}

{% block title %}{{ project.name }} - Open Source{% endblock %}

{% block body %}
  <!-- Custom styles for this template -->
  <link href="{{ asset('css/view_project/index.css') }}" rel="stylesheet"/>

  <div class="header">
    <div class="container">
        <img class="card-img-top project-image" src="{{ asset('img/project-card-background.png') }}" alt="">
        <img class="card-img-top project-icon" src="{{ asset('icons/project-icon-default.jpg') }}" alt="">
        <h1 class="title">{{ project.name }}</h1>
        <div class="organization">By {{ project.organization }}</div>
        <a class="project-site" href="https://{{ project.website }}" target="_blank">{{ project.website }}</a>
    </div>
  </div>

  <form class="container" action="new" method="POST">
    {% if project_data is defined %}
      <input type="hidden" name="project_data" value="{{ project_data }}"/>
    {% endif %}

    <div class="body-container">
        <div class="main-info">
          <div class="section-title">{{ project.objective }}</div>
          <div class="description">{{ project.description }}</div>

          <div class="section-title">Source Code</div>
          <table>
            <tr>
              <th class="table-header">Repo</th>
              <th class="table-header">License</th>
            </tr>
            {% for git_repo_name in project.git_repo_names %}
              <tr>
                <td class="link"><a href="{{ project.git_repo_urls[loop.index0] }}" target="_blank">{{ git_repo_name }}</a></td>
                <td>Apache 2.0</td>
                <td>2645 Stars</td>
                <td>577 Forks</td>
              </tr>
            {% endfor %}
          </table>

          {% if project.more_info_names|length > 1 %}
            <div class="section-title">Mailing List(s)</div>
            <table class="mailing-lists">
              <tr>
                <th class="table-header">List</th>
              </tr>
              {% for mailing_list_name in project.mailing_list_names %}
                <tr>
                  <td>{{ mailing_list_name }}</td>
                  <td class="link"><a href="{{ project.mailing_list_urls[loop.index0] }}" target="_blank">Subscribe</a></td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}

          {% if (project.bug_tracking is defined) or (project.documentation is defined) or (project.documentation is defined) %}
            <div class="section-title">Other Details</div>
            <table class="mailing-lists">
              <tr>
                <td class="link"><a href="{{ project.bug_tracking }}" target="_blank">Bug Tracking</a></td>
              </tr>
              <tr>
                <td class="link"><a href="{{ project.documentation }}" target="_blank">Documentation</a></td>
              </tr>
              <tr>
                <td class="link"><a href="{{ project.documentation }}" target="_blank">Project Data</a></td>
              </tr>
            </table>
          {% endif %}

          {% if project.more_info_names|length > 1 %}
            <div class="section-title">More Info</div>
            <div class="description">
              <ul>
                {% for more_info_title in project.more_info_names %}
                  <li class="link"><a href="{{ project.more_info_urls[loop.index0] }}" target="_blank">{{ more_info_title }}</a></li>
                {% endfor %}
              </ul>  
            </div>
          {% endif %}

          {% if project_data is defined %}
            <div class="btn-container">
              <button class="btn btn-primary btn-md float-right" type="submit">Confirm & Submit</button>
              <button class="btn btn-outline-primary btn-md float-right" type="submit">Go Back & Edit</button>
            </div>
          {% endif %}
        </div>

        <div style="margin-top: -35px; width: 100%">
          <div class="sub-container">
          {% if (project.domain_expertise|length > 0) or (project.technical_expertise|length > 0) %}
            <div class="title">CATEGORIES</div>
            <div class="info"><a>{{ project.domain_expertise }}</a><div>
            <div class="info"><a>{{ project.technical_expertise }}</a><div>
          {% endif %}

          <div class="title">LANGUAGES</div>
          {% for language in project.languages %}
            <div class="info"><a>{{ language }}</a><div>
          {% endfor %}

          <div class="title">TAGS</div>
          {% for tag in project.tags %}
            <div class="info"><a>{{ tag }}</a><div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% block javascripts %}
    <script src="{{ asset('js/view_project/index.js') }}"></script>
  {% endblock %}
{% endblock %}
