{% if data_target is defined %}

  <a data-toggle="modal" data-target="{{ data_target }}" class="navbar-dropdown-item" {% if target is defined %}target="{{ target }}"{% endif %}>
    <i class="{{ icon }}"></i>
    <div>{{ name }}</div>
  </a>

{% else %}

  <a href="{{ path }}" class="navbar-dropdown-item" {% if target is defined %}target="{{ target }}"{% endif %}>
    <i class="{{ icon }}"></i>
    <div>{{ name }}</div>
  </a>

{% endif %}

