{% block body %}

  <div class="md-form form-sm">
    {% if rows is defined %}
      <textarea id="{{ name }}" name="{{ name }}" class="md-textarea form-control form-control-sm" style="margin-top: 35px" rows="{{ rows }}" required></textarea>
    {% else %}
      <input type="text" id="{{ name }}" name="{{ name }}" value="{{ value|default(null) }}" class="form-control form-control-sm" required>
    {% endif %}
  </div>

{% endblock %}