{% extends 'layout.html.twig' %}

{% block title %}Organizations{% endblock %}

{% block body %}
  <!-- Custom styles for this template -->
  <link href="{{ asset('css/projects/index.css') }}" rel="stylesheet"/>
  <link href="{{ asset('css/projects/search.css') }}" rel="stylesheet"/>
  <link href="{{ asset('css/projects/card.css') }}" rel="stylesheet"/>

  <!-- Page Heading -->
  <div class="header">
    {% block header_top %}
      <div class="row-inline">
        <h1 class="title">Organizations</h1>
        <div class="flex-fill filter">{% include 'projects/search.html.twig' %}</div>
      </div>
    {% endblock %}
  </div>

  <!-- Page Content -->
  <div class="container">
    <div id="search-results-count" class="search-results-count">
      <div class="count"></div>
      <div class="text"></div>
      <div class="search"></div>
    </div>

    {# <div id="project-cards-container" class="row project-cards-container">
      {% for project in projects %}
        {{ include('projects/card.html.twig') }}
      {% endfor %}
    </div>

    <div class="no-projects-container">
      <div id="no-projects" class="no-projects" style="display: {% if projects|length %}none{% else %}inline{% endif %}">No projects to display</div>
    </div> #}
  </div>

  <script src="{{ asset('js/projects/index.js') }}"></script>
  <script src="{{ asset('js/projects/dropdown.js') }}"></script>
  <script src="{{ asset('js/projects/search.js') }}"></script>

{% endblock %}